.skill{
    text-align: start;
    padding: 8px;
}

.skill-icon{
    font-size: 1.5em;
    margin: 0px 8px;
}

.skill-title{
    font-size: 1.1em;
    margin:8px 0;
    font-weight: bold;
}

.skill-description{
    font-size: .9em;
    margin: 8px 0;
}